html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-y: scroll;
}

nav code, .btn code , .code-reset-colors {
    color: inherit;
    background-color: transparent;
}

textarea {
    resize: vertical;
}

textarea[readonly], input[readonly] {
    cursor: text !important;
}

/* http://getbootstrap.com/examples/sticky-footer-navbar/ */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

footer .text-muted {
    margin: 20px 0;
}

.jumbotron .function {
    margin-top: 20px;
    width: 100%;
}

.jumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group-addon input {
    vertical-align: middle;
}

@-moz-document url-prefix() {
    /* Excuse my OCD */
    .input-group-addon input {
        height: 14px;
    }
}

.code-input {
    font-family: monospace;
}

.full-width {
    width: 100%;
}

#verify-button {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
}

th.min-width {
    width: 1px;
}
